*.tfstate

# Terraform state y config en cualquier subcarpeta
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/terraform.tfvars

# Archivos de entorno
.env

# Binaries and packages
*.zip
*.pyc
__pycache__/

# Terraform files

# Logs o outputs 
*.log

# Images and file
# Ignorar imágenes y binarios grandes
*.jpeg
*.jpg
*.png
*.gif
*.zip
*.tar
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.so
*.dylib
lambda_function.zip
comiendo_filtered.jpeg

# Archivos temporales y de backup
*~
*.swp
*.bak
*.tmp

# Otros archivos de pruebas grandes
tests/*.jpeg